// flex direction row
@mixin flex($type: 'standard') {
    display: flex;
    @if $type=='spacearound' {
        justify-content: space-around;
    }
    @else if $type=='center' {
        justify-content: center;
        align-items: center;
    }
    @else if $type=='start' {
        justify-content: start;
        align-items: start;
    }
    @else if $type=='column' {
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
    }
}